/*--------------------------------------------------------------------------------------------------------------------
 * Author     Valery Timofeev
 *--------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------------------
 * Imports
 *--------------------------------------------------------------------------------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700);
@import '../css/bootstrap.min.css';
@import '../css/bootstrap-theme.min.css';
@import '../css/prettify.css';

/*--------------------------------------------------------------------------------------------------------------------
 * General Styles
 *--------------------------------------------------------------------------------------------------------------------*/

* {
    outline: none !important;
}

html {
    height: 100%;
}

body {

    height: 100%;
    min-height: 100%;

    color: #333;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    font-size: 13px;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;

    background: #fff;
}

.height-100p {
    height: 100%;
}

.vertical-middle {

    position: relative;
    top: 50%;

    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
}

.section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.doc-sidebar {

    position: fixed;
    top: 0;
    left: 0;

    height: 100%;
    width: 250px;
    padding: 10px 0;

    background-color: #32323a;
    border-right: solid 1px #2f2f37;
}

.brand {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation a,
.navigation a:hover,
.navigation a.hover,
.navigation a:focus,
.navigation a.focus {

    text-decoration: none;

}

.navigation a {
    display: block;
    padding: 8px 20px;
    color: #fff;
    border-top: solid 1px #4B4B59;
    border-bottom: solid 1px #2A2A2F;
}

.navigation li:first-child a {
    border-top: none !important;
}

.navigation li:last-child a {
    border-bottom: none !important;
}

.navigation a:hover,
.navigation a.hover,
.navigation a:focus,
.navigation a.focus,
.navigation li.active a {
    background: rgba(255, 255, 255, .1);
}

.doc-container {
    padding: 10px 30px;
    margin-left: 250px;
}