 <a href="steelmanufacturing.html" class="btn btn-theme ">Read more</a>

<!-- Section: Page Header -->
<section class="section-page-header">
    <div class="container">
        <div class="row">

            <!-- Page Title -->
            <div class="col-md-8">
                <h1 class="title">Portfolio - 4 Columns</h1>
                <div class="subtitle">There are many variations of passages </div>
            </div>
            <!-- /Page Title -->

            <!-- Breadcrumbs -->
            <div class="col-md-4">
                <ul class="breadcrumb">
                    <li><i class="fa fa-fw fa-home"></i> <a href="#">Home</a></li>
                    <li>Portfolio</li>
                </ul>
            </div>
            <!-- /Breadcrumbs -->

        </div>
    </div>
</section>
<!-- /Section: Page Header -->

<!-- Main -->
<main class="main-container">

    <section>
        <div class="container">

            <!-- Project -->
            <div class="row">

                <div class="projects-list">

                    <div class="col-sm-3 col-xs-12 project-image">
                        <a href="images/project-01.jpg" class="image-popup">
                            <div class="gallery-image">
                                <img src="images/project-01.jpg">
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-3 col-xs-12 project-image">
                        <a href="images/project-02.jpg" class="image-popup">
                            <div class="gallery-image">
                                <img src="images/project-02.jpg">
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-3 col-xs-12 project-image">
                        <a href="images/project-03.jpg" class="image-popup">
                            <div class="gallery-image">
                                <img src="images/project-03.jpg">
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-3 col-xs-12 project-image">
                        <a href="images/project-04.jpg" class="image-popup">
                            <div class="gallery-image">
                                <img src="images/project-04.jpg">
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-3 col-xs-12 project-image">
                        <a href="images/project-05.jpg" class="image-popup">
                            <div class="gallery-image">
                                <img src="images/project-05.jpg">
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-3 col-xs-12 project-image">
                        <a href="images/project-06.jpg" class="image-popup">
                            <div class="gallery-image">
                                <img src="images/project-06.jpg">
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-3 col-xs-12 project-image">
                        <a href="images/project-07.jpg" class="image-popup">
                            <div class="gallery-image">
                                <img src="images/project-07.jpg">
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-3 col-xs-12 project-image">
                        <a href="images/project-08.jpg" class="image-popup">
                            <div class="gallery-image">
                                <img src="images/project-08.jpg">
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-3 col-xs-12 project-image">
                        <a href="images/project-09.jpg" class="image-popup">
                            <div class="gallery-image">
                                <img src="images/project-09.jpg">
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-3 col-xs-12 project-image">
                        <a href="images/project-10.jpg" class="image-popup">
                            <div class="gallery-image">
                                <img src="images/project-10.jpg">
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-3 col-xs-12 project-image">
                        <a href="images/project-11.jpg" class="image-popup">
                            <div class="gallery-image">
                                <img src="images/project-11.jpg">
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-3 col-xs-12 project-image">
                        <a href="images/project-12.jpg" class="image-popup">
                            <div class="gallery-image">
                                <img src="images/project-12.jpg">
                            </div>
                        </a>
                    </div>

                </div>

                <!-- Pagination -->
                <div class="col-md-12">
                    <ul class="pagination">
                        <li><span>Page 1 of 5</span></li>
                        <li><a href="#">&laquo;</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">Next</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>
                <!-- /Pagination -->

            </div>
            <!-- /Project -->

        </div>
    </section>

    <section class="section-small mt bg-light-gray">
        <div class="container">

            <!-- Section Header -->
            <div class="row">
                <div class="col-md-6">
                    <header>
                        <h2 class="section-title"><span class="text-theme">Recent</span> Projects</h2>
                        <p class="section-subtitle">It is a long established fact that a reader</p>
                    </header>
                </div>
            </div>
            <!-- /Section Header -->

            <!-- Section Content -->
            <div class="row mt">
                <div class="col-md-12">
                    <div class="projects-carousel owl-carousel owl-theme">

                        <div class="item recent-project">
                            <a href="images/project-01.jpg" class="image-popup">
                                <div class="gallery-image">
                                    <img src="images/project-01.jpg">
                                </div>
                            </a>
                            <a href="#" class="info">
                                <h4 class="title">Buildings</h4>
                                <p class="description"># web-design</p>
                            </a>
                        </div>

                        <div class="item recent-project">
                            <a href="images/project-02.jpg" class="image-popup">
                                <div class="gallery-image">
                                    <img src="images/project-02.jpg">
                                </div>
                            </a>
                            <a href="#" class="info">
                                <h4 class="title">Nautical Nonsense</h4>
                                <p class="description"># illustration</p>
                            </a>
                        </div>

                        <div class="item recent-project">
                            <a href="images/project-03.jpg" class="image-popup">
                                <div class="gallery-image">
                                    <img src="images/project-03.jpg">
                                </div>
                            </a>
                            <a href="#" class="info">
                                <h4 class="title">Coffee</h4>
                                <p class="description"># creative</p>
                            </a>
                        </div>

                        <div class="item recent-project">
                            <a href="images/project-04.jpg" class="image-popup">
                                <div class="gallery-image">
                                    <img src="images/project-04.jpg">
                                </div>
                            </a>
                            <a href="#" class="info">
                                <h4 class="title">New York City</h4>
                                <p class="description"># web-design</p>
                            </a>
                        </div>

                        <div class="item recent-project">
                            <a href="images/project-05.jpg" class="image-popup">
                                <div class="gallery-image">
                                    <img src="images/project-05.jpg">
                                </div>
                            </a>
                            <a href="#" class="info">
                                <h4 class="title">The Writer's Collection</h4>
                                <p class="description"># creative</p>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            <!-- /Section content -->

        </div>
    </section>

</main>
<!-- /Main -->

<!-- Footer -->
<footer class="footer section-small">
    <div class="container">
        <div class="row">

            <!-- Footer Column -->
            <div class="col-md-5 col-xs-6 footer-col">

                <!-- Footer Logo -->
                <div class="logo">
                    <img src="images/klogo.png" alt="">
                </div>
                <!-- /Footer Logo -->

                <!-- Footer Text -->
                <p class="text">
                    It is a long established fact that a reader will be distracted by the readable.
                </p>
                <!-- /Footer Text -->

                <hr>

                <!-- Copyright -->
                <p class="copyright">
                    Copyright &copy; 2017 <strong>Sirhanningfield Designs</strong>
                </p>
                <!-- /Copyright -->

                

            </div>
            <!-- /Footer Column -->


            <!-- Footer Column -->
            <div class="col-md-3 col-xs-6 footer-col ">

                <h3 class="title">Site Menu</h3>

                <!-- Footer Menu -->
                <ul class="menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Projects</a></li>                    
                    <li><a href="#">Contact</a></li>
                </ul>
                <!-- /Footer Menu -->

            </div>
            <!-- /Footer Column -->

            <!-- Footer Column -->
            <div class="col-md-4 col-xs-6 footer-col">

                <h3 class="title">Signup to <span class="text-theme">Newsletter</span></h3>

                <!-- Footer Signup Form -->
                <div class="signup-form">
                    <form method="post" class="form-inline">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Your E-mail...*" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-theme"><i class="fa fa-fw fa-envelope"></i></button>
                        </div>
                    </form>

                </div>
                <!-- /Footer Signup Form -->

                <hr>

                <!-- Footer Social -->
                <ul class="social-inline">
                    <li><a href="#" class="fa fa-fw fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-fw fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-fw fa-google-plus"></a></li>
                </ul>
                <!-- /Footer Social -->

            </div>
            <!-- /Footer Column -->

        </div>
    </div>
</footer>
<!-- /Footer -->

<!-- Scroll To Top -->
<div id="scroll-to-top" class="scroll-to-top">
    <i class="icon fa fa-angle-up"></i>
</div>
<!-- /Scroll To Top -->

<!-- Modal: Result Message -->
<div class="modal fade" id="result" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="fa fa-times"></i>
                </button>
                <h4 class="modal-title">Sending message</h4>
            </div>

            <div class="modal-body">

                <div class="result-icon">
                    <div class="icon-border">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" preserveAspectRatio="none">
                            <circle cx="8" cy="8" r="6.215" transform="rotate(90 8 8)"></circle>
                        </svg>
                        <i class="icon fa fa-check"></i>
                    </div>
                </div>

                <p class="modal-result h4 text-center"></p>
            </div>

        </div>
    </div>
</div>
<!-- /Modal: Result Message -->

<!-- SCRIPTS -->
<script src="js/jquery-2.2.0.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/masonry.pkgd.min.js"></script>
<script src="js/general.js"></script>
<!-- /SCRIPTS -->

<!-- TODO: Remove this block, Demo-version only -->
<!-- Styleswitcher -->
<div id="styleswitcher" class="styleswitcher">
    <div class="styleswitcher-content">

        <h4 class="styleswitcher-title">Color Presets</h4>
        <div class="styleswitcher-block">
            <ul class="styleswitcher-list-colors">
                <li><a href="javascript: switchStyle('theme-persimmon')" style="background: #ff5555;" title="Persimmon"></a></li>
                <li><a href="javascript: switchStyle('theme-atomic-tangerine')" style="background: #ff9e55;" title="Atomic Tangerine"></a></li>
                <li><a href="javascript: switchStyle('theme-yellow-sea')" style="background: #fab000;" title="Yellow Sea"></a></li>
                <li><a href="javascript: switchStyle('theme-rio-grande')" style="background: #aed605;" title="Rio Grande"></a></li>
                <li><a href="javascript: switchStyle('theme-vida-loca')" style="background: #38b71f;" title="Vida Loca"></a></li>
                <li><a href="javascript: switchStyle('theme-mountain-meadow')" style="background: #1fb768;" title="Mountain Meadow"></a></li>
                <li><a href="javascript: switchStyle('theme-java')" style="background: #1fb7a4;" title="Java"></a></li>
                <li><a href="javascript: switchStyle('theme-mariner')" style="background: #3274cd;" title="Mariner"></a></li>
                <li><a href="javascript: switchStyle('theme-medium-purple')" style="background: #996de9;" title="Medium Purple"></a></li>
                <li><a href="javascript: switchStyle('theme-lavender-magenta')" style="background: #e94de4;" title="Lavender Magenta"></a></li>
            </ul>
        </div>

        <h4 class="styleswitcher-title">Navigation Style</h4>
        <div class="styleswitcher-block">
            <select id="styleswitcher-navbar-style">
                <option value="style-1">Default</option>
                <option value="style-2">Fill</option>
                <option value="style-3">Underline</option>
            </select>
        </div>

    </div>

    <div class="styleswitcher-button vertical-middle"><i class="fa fa-gear"></i></div>
</div>

<link rel="stylesheet" type="text/css" href="demo/styleswitcher.css">
<script src="demo/styleswitcher.js"></script>
<!-- /Styleswitcher -->

</body>
</html>